<div ng-controller="menu2.ctrl">
    <div class="activity-content">
        <ul class="activity">
            <li ng-click="activity_detail()">
                <div class="reserve-detail">
                    <img src="img/activit05y.jpg">
                    <div class="activity-tittle">
                        <h4>《黑天鹅》芭蕾舞</h4>
                    </div>
                    <div class="follow red">
                        <span><i class="fa fa-heart-o"></i>120</span>
                    </div>
                </div>
            </li>
            <li ng-click="activity_detail()">
                <div class="reserve-detail">
                    <img src="img/activit08y.jpg">
                    <div class="activity-tittle">
                        <h4>中英交换生夏令营</h4>
                    </div>
                    <div class="follow red">
                        <span><i class="fa fa-heart-o"></i>120</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>


</div>