<div ng-controller="menu1.ctrl">
    <div  class="content" >
        <div class="search">
            <form>
                <input type="text" class="search-text" placeholder="请要查询输入活动名称">
                <input type="submit" class="button" name="button" value="查询活动">
            </form>
        </div>

        <div class="activity-content">
            <ul class="activity">
                <li ng-click="activity_detail()">
                    <div class="active-condition red">即将开始</div>
                    <img src="img/activity01.jpg">
                    <div>
                        <div class="activity-tittle">
                            <h4>《杭州历史》杭州话剧</h4>
                            <span class="detail"><i class="fa fa-calendar"></i>    2016-03-21</span><br>
                        <span class="detail">
                            <i class="fa fa-map-marker"></i>    浙江省杭州市滨江区秋溢路天和
                        </span>
                        </div>
                        <div class="follow red">
                            <span><i class="fa fa-heart-o"></i>120</span>
                        </div>
                    </div>
                </li>
                <li ng-click="activity_detail()">
                    <div class="active-condition red">正在进行</div>
                    <img src="img/activity.jpg">
                    <div class="activity-tittle">
                        <h4>《杭州历史》杭州话剧</h4>
                        <span class="detail"><i class="fa fa-calendar"></i>    2016-03-21</span><br>
                        <span class="detail">
                            <i class="fa fa-map-marker"></i>    浙江省杭州市滨江区秋溢路天和
                        </span>
                    </div>
                    <div class="follow red">
                        <span><i class="fa fa-heart-o"></i>120</span>
                    </div>
                </li>
                <li ng-click="activity_detail()">
                    <div class="active-condition red">已经结束</div>
                    <img src="img/activit07y.jpg">
                    <div class="activity-tittle">
                        <h4>《杭州历史》杭州话剧</h4>
                        <span class="detail"><i class="fa fa-calendar"></i>    2016-03-21</span><br>
                        <span class="detail">
                            <i class="fa fa-map-marker"></i>    浙江省杭州市滨江区秋溢路天和
                        </span>
                    </div>
                    <div class="follow red">
                        <span><i class="fa fa-heart-o"></i>120</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>