<div ng-controller="mine_history.ctrl">
    <div class="my-interest">
        <h4>历史活动</h4>

        <ul class="interest">
            <li>
                <a ng-click="activity_detail()">
                    <h3>2016-3-1 周三</h3>
                    <p>《杭州历史》杭州话剧</p>
                </a>
            </li>
            <li>
                <a ng-click="activity_detail()">
                    <h3>2016-3-1 周三</h3>
                    <p>《杭州历史》杭州话剧</p>
                </a>
            </li>
            <li>
                <a ng-click="activity_detail()">
                    <h3>2016-3-1 周三</h3>
                    <p>《杭州历史》杭州话剧</p>
                </a>
            </li>
        </ul>

    </div>
</div>
